<div class="page-header">
  <h2><%= @group.name %></h2>
</div>

<div class='row'>
  <div class='col-md-6'>
    <div class='panel panel-default'>
      <div class="panel-heading">
        <h3 class="panel-title">Cadastro</h3>
      </div>
      <table class='table'>
                  <tr>
            <th class='text-right'>Name</th>
            <td><%= @group.name %></td>
          </tr>
      </table>
      <div class='panel-footer'>
        <%= link_to edit_group_path(@group), class: 'btn btn-primary margin-right-sm' do %>
          Editar
        <% end %>
        <%= link_to groups_path, class: 'btn btn-default' do %>
          Voltar
        <% end %>
      </div>
    </div>
  </div>
</div>

